/* --------------  Reset  -------------- */

* {
  padding: 0;
	margin: 0;
	border: 0 none;
}

html, body {
  height: 100%;
}

img {
  border-width: 0px;
}

li {
	list-style: none;
}

a {
  text-decoration: none;
}

/* --------------  General  -------------- */

body {
  background-color: #fff;
	background-image: url(../../assets/images/background.jpg);
}

div#page-wrapper {
  max-width: 780px;
  min-height: 100%;
  margin: 0 auto -60px auto;
  background-color: #fff;
}

div#page-wrapper:after {
  content: "";
  display: block;
  height: 60px;
}

div#header-image img {
  width: 100%;
}

nav#main-nav ul#nav {
  width: 100%;
}

nav#main-nav li.nav {
  float: left;
  width: 15.5%;
  width: calc(100%/6);
}

nav#main-nav li.nav:first-child {
  margin-left: 0;
}

nav#main-nav li.nav:last-child {
  margin-right: 0;
}

nav#main-nav li.nav a {
  display: block;
  text-decoration: none;
  padding: 2px;
}

nav#main-nav img {
  width: 100%;
}

main {
  clear: left;
  padding: 30px 0;
}

article {
  padding: 0 30px;
	color: #454;
}

p {
  margin-bottom: 15px;
	font-family: Georgia, Times, Times New Roman, Verdana, serif;
  font-size: 1.2em;
	line-height: 1.4em;
}

h1 {
	margin: 40px 0 10px;
  font-size: 18pt;
	font-family: Helvetica, Georgia, sans-serif;
	color: #13C4F5;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h2 {
	margin: 30px 0 10px;
  font-size: 14pt;
	font-family: Georgia, Helvetica, sans-serif;
  font-weight: bold;
	color: #454;
  text-transform: uppercase;
  letter-spacing: 0.5px;

}

a:link {
  color: #13C4F5;
}

a:hover {
  color: #0c7998;
}

span.i {
  font-style: italic;
}

div#footer {
  width: 780px;
  margin: 0 auto;
}

div#footer p {
  height: 20px;
  padding: 40px 0 0;
  text-align: center;
  font-size: 1em;
}

div#footer p a {
  color: #454;
}

/* --------------  Live/Workshops -------------- */
nav#workshop-nav,
nav#program-nav {
  clear: left;
}

nav#workshop-nav ul#nav,
nav#program-nav ul#nav {
  padding: 40px 0;
  width: 100%;
  overflow: hidden;
}

nav#workshop-nav a,
nav#program-nav a {
  display: block;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
	font-family: Helvetica, Georgia, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #0c7998;
}

nav#workshop-nav li.nav,
nav#program-nav li.nav {
  float: left;
  height: 40px;
  display: inline-block;
}

nav#workshop-nav li.nav {
  width: 33%; /* fallback for non-calc() browsers */
  width: calc(100/3);
}

nav#program-nav li.nav {
  width: 24%; /* fallback for non-calc() browsers */
  width: calc(100/4);
}

nav#program-nav li.nav:first-child {
  margin-left: 0;
}

nav#program-nav li.nav:last-child {
  margin-right: 0;
}

nav#workshop-nav li.nav:hover,
nav#workshop-nav li.active,
nav#program-nav li.nav:hover,
nav#program-nav li.active {
  color: #13C4F5;
}

ul#ws-list,
ul#live-list {
  margin: 40px 0 0;
  padding: 0 30px;
}

ul#ws-list li,
ul#live-list li {
	margin: 40px 0;
	width: 100%;
}

div.live-head {
  height: 154px;
}

div.live-head h1,
div.ws-head h1 {
	margin: 5px 0px;
	padding: 3px 0 0 0;
	font-weight: bold;
	font-family: Helvetica, Georgia, sans-serif;
	font-size: 3em;
	color: #fff;
	text-align: center;
}

div.ws-head h1 {
  margin: 0;
  padding: 5px 10px;
  font-size: 1.8em;
  text-align: left;
}

div.ws-head p,
div.live-head p {
	margin: 5px 0;
	font-style: bold;
	font-family: helvetica, sans-serif;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
}

div.ws-head p {
	margin: 0;
  padding: 0 10px;
	font-size: 1.2em;
	font-size: 1.3em;
  text-align: left;
}

div.ws-head span.place:before,
div.ws-head span.author:before {
  content: ' - '
}

ul#ws-list div.ws-head:hover h1,
ul#ws-list div.ws-head:hover p,
div.live-head:hover h1,
div.live-head:hover p {
	color: #13C4F5;
}

p.teaser {
  margin: 16px;
  color: #454;
  font-style: inherit;
  font-size: 1.2em;
}

article.ws-show div.ws-head {
  margin-bottom: 20px;
}

/* live */
div#bgimage-ryf{
	background: url(../../assets/images/live/thursday/ryf.jpg) no-repeat center;
}

div#bgimage-zdrada{
	background: url(../../assets/images/live/friday/zdrada.jpg) no-repeat center;
}

div#bgimage-contorture{
	background: url(../../assets/images/live/friday/contorture.jpg) no-repeat center;
}

div#bgimage-vicious-irine{
	background: url(../../assets/images/live/friday/vicious_irine.jpg) no-repeat center;
}

div#bgimage-saturnine{
	background: url(../../assets/images/live/friday/saturnine.jpg) no-repeat center;
}

div#bgimage-aemsel{
	background: url(../../assets/images/live/satureday/aemsel.jpg) no-repeat center;
}

div#bgimage-nachthexen{
	background: url(../../assets/images/live/satureday/nachthexen.jpg) no-repeat center;
}

div#bgimage-drikke{
	background: url(../../assets/images/live/satureday/drikke.jpg) no-repeat center;
}

div#bgimage-pripoy{
	background: url(../../assets/images/live/satureday/pripoy.jpg) no-repeat center;
}

div#bgimage-pulsion{
	background: url(../../assets/images/live/satureday/pulsion.jpg) no-repeat center;
}

div#bgimage-puncke{
	background: url(../../assets/images/live/satureday/puncke.jpg) no-repeat center;
}

div#bgimage-womantis{
	background: url(../../assets/images/live/satureday/womantis.jpg) no-repeat center;
}

div#bgimage-lepetka{
	background: url(../../assets/images/live/sunday/lepetka.jpg) no-repeat center;
}

div#bgimage-wrackspurts{
	background: url(../../assets/images/live/sunday/wrackspurts.jpg) no-repeat center;
}

/* workshops */

div#bgimage-transws{
	background: url(../../assets/images/workshop/example.jpg) no-repeat center;
}

div#bgimage-tattoows{
	background: url(../../assets/images/workshop/friday/bgimage-tattoows.jpg) no-repeat center;
}

div#bgimage-theaterws{
	background: url(../../assets/images/workshop/friday/bgimage-theaterws.jpg) no-repeat center;
}

div#bgimage-computerws{
	background: url(../../assets/images/workshop/friday/bgimage-computerws.jpg) no-repeat center;
}

div#bgimage-vulvaws{
	background: url(../../assets/images/workshop/friday/bgimage-vulvaws.jpg) no-repeat center;
}

div#bgimage-tanzws{
	background: url(../../assets/images/workshop/friday/bgimage-tanzws.jpg) no-repeat center;
}

div#bgimage-kritischeweiblichkeit{
	background: url(../../assets/images/workshop/friday/bgimage-kritischeweiblichkeit.jpg) no-repeat center;
}

div#bgimage-sprechws{
	background: url(../../assets/images/workshop/example.jpg) no-repeat center;
}

div#bgimage-schweissws{
	background: url(../../assets/images/workshop/friday/bgimage-schweissws.jpg) no-repeat center;
}

div#bgimage-elternschaft{
	background: url(../../assets/images/workshop/example.jpg) no-repeat center;
}

div#bgimage-autows{
	background: url(../../assets/images/workshop/example.jpg) no-repeat center;
}

div#bgimage-spokenword{
	background: url(../../assets/images/workshop/example.jpg) no-repeat center;
}

div#bgimage-sextoys{
	background: url(../../assets/images/workshop/example.jpg) no-repeat center;
}

div#bgimage-bodyshaming{
	background: url(../../assets/images/workshop/example.jpg) no-repeat center;
}

div#bgimage-sanyal{
	background: url(../../assets/images/workshop/example.jpg) no-repeat center;
}

/* --------------  Papers -------------- */

nav#text-nav {
	margin: 15px 0;
  padding: 15px;
	background-color: #fff;
	color: #454;
}

nav#text-nav li {
	font-family: Georgia, Helvetica, serif;
	margin: 10px;
}

/* --------------  Links -------------- */


/* --------------  Archive -------------- */


/* --------------  Queries -------------- */
@media (min-width: 640px) {
  nav#program-nav a,
  nav#workshop-nav a {
    font-size: 16pt;
  }
}

@media (max-width: 640px) {
  nav#program-nav li.nav {
    width: 49%; /* fallback for non-calc() browsers */
    width: calc(100/2);
  }
}
